#video-chatroom-area {
  width: 1250px;
  height: 700px;
  display: flex;
  flex-direction: column;
  background: #d9d9d9;
  position: relative;
}

.video-window {
  width: 100%;
  height: 100%;
}

.video-window .participant > video {
  width: 100%;
  height: 700px;
  object-fit: fill;
}

#screenshare-area {
  position: relative;
  display: none;
}

#screenshare-area video {
  max-width: 100%;
  max-height: 100%;
}

#video-chatroom-area .video-action {
  visibility: hidden;
}

#video-chatroom-area:hover .video-action {
  visibility: visible;
}

#video-chatroom-area .video-action {
  position: absolute;
  bottom: 25px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

#video-chatroom-area .video-action .action-item {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0 23px;
  vertical-align: middle;
  border-radius: 50%;
}

#video-chatroom-area .video-action .action-item > i.fas {
  padding-top: 12px;
}

#video-chatroom-area .video-action .action-item:hover {
  cursor: pointer;
}

#video-chatroom-area .video-action .action-item-bg {
  background-color: #787f74;
}

#video-chatroom-area .video-action .end-call-icon {
  width: 40px;
  height: 40px;
}

#video-chatroom-area .video-action .action-item-icon {
  height: 25px;
  padding-top: 8px;
}

.video-window .participant .info-bar,
.video-window .participant .size {
  display: none;
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
  #video-chatroom-area .video-action .action-item {
    margin: 0 10px;
  }

  .video-window .participant > video {
    height: 200px;
  }
}

figure {
  max-width: 64rem;
  width: 100%;
  max-height: 30.875rem;
  height: 100%;
  margin: 1.25rem auto;
  padding: 1.051%;
  background-color: #666;
}
.controls {
  width: 100%;
  height: 8.0971659919028340080971659919028%; /* of figure's height */
  position: relative;
}
.controls[data-state="hidden"] {
  display: none;
}

.controls[data-state="visible"] {
  display: block;
}
.controls > * {
  float: left;
  width: 3.90625%;
  height: 100%;
  margin-left: 0.1953125%;
  display: block;
}

.controls > *:first-child {
  margin-left: 0;
}
.controls .progress {
  cursor: pointer;
  width: 75.390625%;
}
.controls button {
  border: none;
  cursor: pointer;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}
.controls button:hover,
.controls button:focus {
  opacity: 0.5;
}
.controls button[data-state="play"] {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAA…");
}

.controls button[data-state="pause"] {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAA…");
}
.controls progress {
  display: block;
  width: 100%;
  height: 81%;
  margin-top: 0.125rem;
  border: none;
  color: #0095dd;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.controls progress[data-state="fake"] {
  background: #e6e6e6;
  height: 65%;
}
.controls progress span {
  width: 0%;
  height: 100%;
  display: inline-block;
  background-color: #2a84cd;
}
.controls progress::-moz-progress-bar {
  background-color: #0095dd;
}

.controls progress::-webkit-progress-value {
  background-color: #0095dd;
}
