
dist
.solid
.output
.vercel
.netlify
netlify

# Logs
logs
*.log
npm-debug.log*

# dependencies
/node_modules
**/node_modules/**
_node_modules
.pnp.cjs
package-lock.json
yarn.lock
node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
