.block {
    display: none;
  }
  #block-menu {
    position: fixed;
    background-color: rgba(236, 236, 236, 0);
    z-index: 1;
    display: flex;
    right: 0;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

@media (max-width: 480px) {
  #block-menu ul {
    width: 150px;
    background-color: #333;
    padding-inline-start: 0;
    margin-block: 0;
  }

  #block-menu ul li {
    list-style-type: none;
    padding: 10px;
    color: #FFFFFF;
  }

  #block-menu ul li:hover {
    background-color: #1c6b48;
  }
}